/* $Id$ */

#region-manager-blocks-form tr.module td {
	border-top: 1.5em solid #fff;
	border-bottom: 1px solid #b4d7f0;
	background-color: #d4e7f3;
	color: #455067;
	font-weight: bold;
}

html.js #region-manager-manage-form select.block-region-select,
html.js #region-manager-manage-form div.region-manager-block-title-wrapper {
	display: none;
}

#region-manager-manage-form td.title-link {
  text-align: right;
  vertical-align: top;
}

#region-manager-manage-form .draggable a.tabledrag-handle {
  height: 100%;
}
/*
#region-manager-manage-form div.region-manager-block-title-wrapper .region-manager-manage-form-title {
  float: right;
}


td.block div.form-item,
td.block div.form-item strong {
  float: left;
}

input.region-manager-manage-form-title {
  margin-left: 1em;
}

*/